@using Button = MM.WEB.Resources.Button
@inherits FormBase<bool, FieldSwitch>

@if (Visible)
{
    <div class="d-flex" style="align-items: center;">
        <MudIcon Icon="@CssIcon" Class="me-3"></MudIcon>
        <MudSwitch @bind-Value="Value" ThumbIcon="@(Value? Icons.Material.Filled.Done : Icons.Material.Filled.Close)" ThumbIconColor="@(Value? Color.Success: Color.Error)" Size="AppStateStatic.Size">
            @For.GetCustomAttribute()?.Name
        </MudSwitch>
    </div>
    @if (Description.NotEmpty())
    {
        <MudText Typo="Typo.caption" Style="margin-left: calc(1.5rem + 12px)">
            @Description
        </MudText>
    }
}