@inherits FormBase<bool, FieldActive>

@if (Visible)
{
    <div class="d-flex" style="align-items: center;">
        <MudIcon Icon="@CssIcon" Class="me-3"></MudIcon>
        <MudButton Variant="Variant.Outlined" Href="/profile/validation/gallery" Style="width: 100%" Disabled="Disabled"
                   StartIcon="@(Value ? IconsFA.Solid.Icon("circle-check").Font : IconsFA.Solid.Icon("circle-xmark").Font)"
                   Color="@(Value ? Color.Success : Color.Error)">
            @if (Value)
            {
                <span>Active</span>
            }
            else if (CustomButtonText.NotEmpty())
            {
                <span>@CustomButtonText</span>
            }
            else
            {
                <span>Inactive</span>
            }
        </MudButton>
    </div>
    @if (Description.NotEmpty())
    {
        <MudText Typo="Typo.caption" Style="margin-left: calc(1.5rem + 12px)">
            @Description
        </MudText>
    }
}