@page "/how-it-works"
@inherits PageCore<HowItWorks>

<SeoMeta Title="How It Works" Description="Learn how Modern Matchmaker evaluates compatibility and suggests meaningful matches, and how it differs from traditional dating apps or traditional matchmaking services." Url="/how-it-works" Index="true"></SeoMeta>
<NewPageSection IsPageHeader="true" Image="icon/icon-71.png" Title="How It Works" Description="Learn how Modern Matchmaker evaluates compatibility and suggests meaningful matches, and how it differs from traditional dating apps or traditional matchmaking services." CustomBodyClass="mb-12"></NewPageSection>

<NewPageSection Title="Introduction">
    <BodyFragment>
        <MudText Typo="Typo.body1" Align="Align.Justify">
            Modern Matchmaker is not just another dating app. Our service connects people with compatibility and genuine intentions.
            Using advanced algorithms and user preferences, each match suggestion is meaningful and aligned with relationship goals.
            Here, you’ll learn how the platform works and how matches are selected to maximize compatibility.
        </MudText>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="How Matchmaking Works">
    <BodyFragment>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            Our matchmaking process is carefully designed to prioritize quality over quantity. Here’s how it works:
        </MudText>
        <div class="support-section mb-3">
            <ul>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        (1) Profile creation – Users fill out detailed profile, including lifestyle, personality, interests, behaviors, and relationship goals.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        (2) Preferences & Priorities – Users define non-negotiable characteristics in their ideal partner.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        (3) Algorithmic Analysis – Our system evaluates compatibility factors, identifying potential matches with the highest likelihood of success.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        (4) Match Suggestions – The algorithm generates a personalized list of matches, filtered by user preferences and ranked by compatibility score.
                    </MudText>
                </li>
            </ul>
        </div>
        <MudText Typo="Typo.caption">
            Match suggestions are automatically recalculated as users update their profiles or preferences.
        </MudText>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="Compatibility Score">
    <BodyFragment>
        <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
            Our entire form consists of dozens of questions separated into groups: Basic, Bio, Lifestyle, Personality, Interest, Relationship, Goal.
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
            Each of these groups is compared with the groups of other users, and this generates a compatibility score (ranging from 0% to 100%). This value can even be different between the two people because it also takes personal preferences into account.
            If User A scores 85% with User B, but User B scores 80% with User A, this reflects how personal preferences affect compatibility for each side.
        </MudText>
        <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
            After that, a weighted calculation is made on all the groups to generate a single score (Basic - 10, Bio - 5, Lifestyle - 25, Personality - 25, Interest - 5, Relationship -  20, Goal - 10). This is the overall compatibility between two people.
        </MudText>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="Features & Platform Tools">
    <BodyFragment>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            Our platform includes tools to support the matchmaking process:
        </MudText>
        <div class="support-section mb-0">
            <ul>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Secure environment - before any interaction, all users are required to verify their photos and identity. Ensuring an environment free from scams, spam, and any other threats.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Matchmaking suggestions – By combining our compatibility system and our clients' preferences, we suggest the most compatible profiles available.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Meeting tracking tools - We have optional tools for recording meetings (location, date and time) and for notifying friends or family about them.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Spotlight - An alternative way to find potential matches by promoting yourself within the platform to your city, your country, or the entire world.
                    </MudText>
                </li>
            </ul>
        </div>
    </BodyFragment>
</NewPageSection>

<NewPageSection Title="Why Modern Matchmaker is Different">
    <BodyFragment>
        <MudText Typo="Typo.subtitle1" Class="mb-3">
            Unlike traditional dating apps or traditional matchmaking services, Modern Matchmaker values your time, your money, and your relationship goals.
        </MudText>
        <div class="support-section mb-0">
            <ul>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Quality over quantity - only truly compatible candidates are suggested, unlike traditional matchmaking that is manual and limited, or dating apps that prioritize volume.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Real compatibility - deeper alignment in values, lifestyle, and intentions, rather than just shared interests.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Safe and trusted - We monitor interactions and have tools to ensure a secure environment.
                    </MudText>
                </li>
                <li>
                    <MudText Typo="Typo.body1" Align="Align.Justify" Class="mb-2">
                        Automated matchmaking – Our fully automated system delivers high-quality matches at a fraction of the cost of traditional matchmaking services.
                    </MudText>
                </li>
            </ul>
        </div>
    </BodyFragment>
</NewPageSection>

<FloatingButton Template="Template.Back"></FloatingButton>

@if (!AppStateStatic.IsAuthenticated)
{
    <MudPaper Elevation="2" Class="pa-4 my-12 mud-theme-primary" Style="text-align: center;">
        <MudText Typo="Typo.h6" Align="Align.Center" Class="my-3">
            Now that you know how it works, take the first step towards finding your soulmate.
        </MudText>
        <MudButton Color="Color.Secondary" Variant="Variant.Filled" OnClick="Login" Class="my-4">
            Create Your Profile
        </MudButton>
    </MudPaper>
}

@code {
    private async Task Login()
    {
        Navigation.NavigateTo("/login");
    }
}
